<!-- <p>{{ todoItem.description }}</p> -->

<div>
    <label>Description: </label>
    <input class="form-control" [(ngModel)]="todoItem.description" placeholder="description"/>
    <div>
        <button (click)="addItem()">Add Item</button>
    </div>
</div>

<div *ngIf="todoListItems.length">
    <div *ngFor="let item of todoListItems; index as i">
        <div>
            <p>{{ item.description }}</p>
        </div>
        <div>
            <button (click)="deleteItem(i)">Delete Item</button>
        </div>
    </div>
</div>

<!-- <app-todo-detail></app-todo-detail> -->